.home{
  display: flex;
  justify-content: center;
}
.cont{
  align-items: center;
  margin: 5em;
  height: 40em;
  width: 60em;
  background-color: white;
  box-shadow: 0 0 20px #ccc;
}
span{
  text-align: center;
}
img{
  align-items: center;
  height: 5em;
  width: 5em;
}
.scores{
  justify-content: space-around;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.col{
  margin: 10px;
  padding: 10px;
  align-items: center;
  text-align-last: center;
  justify-content: center;
  height: 10em;
  width: 6em;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px #ccc;
  border: 3px solid #C0C0C0;
  display: flex;
  flex-direction: column;
}
.num{
font-size: 50px;
}